@import "src/styles/var";
@import "src/styles/mixins";

.main {
  max-width: 100%;
  margin-top: 39px;

  @include desktop {
    min-height: 613px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/main-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;

    margin-top: 79px;
  }

  &__container {
    @include container;
    justify-content: right;
  }

  &__content {
    @include desktop {
      padding: 0;
      box-sizing: border-box;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      gap: 0px 90px;
      grid-template-areas:
        "a b"
        "a c";
    }
  }

  &__title {
    font-size: 20px;
    text-align: center;
    margin: 0;

    @include desktop {
      text-align: left;
      font-size: 32px;
      font-weight: 500;

      margin-top: 128px;
      grid-area: b;
    }
  }

  &__subtitle {
    margin: 0;
    text-align: center;
    font-size: 12px;
    line-height: 20px;

    @include desktop {
      text-align: left;
      font-size: 14px;
    }
  }

  &__price {
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 500;

    @include desktop {
      text-align: left;
    }
  }

  &__image {
    margin-top: 31px;
    padding: 0 20px;

    @include desktop {
      padding: 0;
      margin: 0;
      grid-area: a;
      margin-top: 30px;
    }

    img {
      max-width: 100%;

      @include desktop {
        max-width: unset;
        width: 763px;
      }
    }
  }

  &__block {
    padding: 20px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    margin-top: 16px;

    @include desktop {
      box-shadow: unset;
      padding: 0;
      margin-top: 40px;

      grid-area: c;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: 40px;
    margin-top: 16px;
    border: none;
    background-color: $orangeDark;
    color: $white;
    font-size: 14px;
    text-decoration: unset;

    @include desktop {
      font-size: 14px;
      margin-top: 60px;
      border: 2px solid $orangeDark;
      background-color: $white;
      box-sizing: border-box;
      text-transform: uppercase;
      color: $black;
      height: 57px;
      max-width: 345px;
      transition: all 0.2s;

      &:hover {
        background-color: $orangeDark;
        color: $white;
      }
    }
  }
}
