@import "src/styles/var";
@import "src/styles/mixins";

.image-gallery-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  .image-gallery {
    border: 20px solid rgba($orangeLight, 0.4);
    max-width: 930px;
    box-sizing: border-box;

    width: 100%;

    &-thumbnails {
      background-color: $gray;
    }

    &-image {
      max-width: 100%;
      max-height: 600px !important;
      height: 400px !important;
      background-color: $gray;

      @include desktop {
        max-height: 600px !important;
        height: 600px !important;
      }
    }

    &-content.fullscreen {
      .image-gallery-image {
        height: 100% !important;
        max-height: calc(100vh - 180px) !important;
      }

      .image-gallery-slides {
        background-color: unset !important;
      }
    }

    &-thumbnail {
      box-sizing: border-box;

      &:hover {
        border: 3px solid $orangeLight;
      }
    }

    .image-gallery-thumbnail.active {
      border: 3px solid $orangeDark;
    }
  }
}

.photo-gallery {
  display: flex;
  justify-content: center;
  margin-top: 97px;

  @include desktop {
    margin-top: 150px;
  }

  &__main {
    border-radius: 4px;
    background-color: $gray;

    height: 250px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;

    @include desktop {
      height: unset;
      max-height: 650px;
      width: 832px;
      height: 100%;
    }

    img {
      max-width: 100%;
      height: 100%;

      @include desktop {
        height: 100%;
        max-width: unset;
        max-height: unset;
      }
    }
  }

  &__container {
    @include container;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    @include desktop {
      align-items: center;
      margin-top: 60px;
      flex-direction: row;
    }
  }

  &__items {
    display: flex;
    gap: 12px;

    max-width: calc(100vw - 40px);
    overflow: scroll;

    @include desktop {
      max-width: 590px;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__item {
    border-radius: 4px;
    background-color: $gray;

    min-width: 80px;
    width: 80px;
    height: 80px;

    overflow: hidden;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    @include desktop {
      min-width: 100px;
      width: 100px;
      height: 100px;
    }

    &_main {
      border: 2px solid $orangeDark;
    }

    img {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
