@import "src/styles/var";
@import "src/styles/mixins";

.cart {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @include desktop {
    margin-top: 120px;
  }

  &__container {
    @include container;
    flex-direction: column;
    align-items: center;

    @include desktop {
      gap: 20px;
      flex-direction: row-reverse !important;
      align-items: flex-start !important;
      margin-top: 80px;
    }
  }

  &__form {
    @include container;

    .form {
      flex: 1;
    }

    .form__content {
      height: unset;
    }

    .form__title {
      display: none;
    }

    .form__subtitle {
      display: none;
    }
  }

  .catalog__items {
    margin-top: 38px;

    @include desktop {
      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      flex: 2;
      padding: 20px 0;

      margin-top: 0;
    }
  }

  .catalog-item__button {
    background-color: $white;
    color: $black;
    width: 74px;
    border: 1px solid rgba(133, 133, 133, 1);
  }

  .catalog-item {
    position: relative;
  }
}

.button-trash {
  padding: 0;
  margin: 0;
  background: white;
  border: none;
  width: 50px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.cart-result {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;

  @include desktop {
    width: 320px;
    margin-top: 0;
    flex-shrink: 0;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  &__button {
    font-size: 14px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid $orangeDark;
    background-color: $white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;

    &:hover {
      background-color: $orangeDark;
      color: $white;
    }
  }
}

.cart-empty {
  margin-top: 50px;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__image {
    width: 100%;
    max-width: 400px;
    border-radius: 5%;
  }
}
