@import "src/styles/var";
@import "src/styles/mixins";

.cart {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @include desktop {
    margin-top: 120px;
  }
}

.items {
  margin-top: 38px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  max-width: 100%;

  @include desktop {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    flex: 2;
    padding: 20px 0;

    margin-top: 0;
  }
}

.item {
  position: relative;
  border: 1px solid rgba(231, 231, 231, 1);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: $white;
  width: 100%;

  border-radius: 10px;
  overflow: hidden;

  @include tablet {
    max-width: 345px;
  }

  &Container {
    border-top: 1px solid rgba(231, 231, 231, 1);
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 30px;
    grid-template-areas:
      "a a"
      "b c";
    flex: 1;

    grid-template-rows: minmax(48px, auto) minmax(45px, auto);

    @include mobile320 {
      gap: 20px 10px;
    }
  }

  &Title {
    padding: 0;
    margin: 0;
    grid-area: a;
    max-width: 90%;
  }

  &Price {
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &Old {
      color: rgba(158, 158, 158, 1);
      text-decoration: line-through;
      font-size: 14px;

      @include mobile320 {
        font-size: 12px;
      }
    }

    &New {
      font-size: 18px;

      @include mobile320 {
        font-size: 14px;
      }
    }
  }

  &PriceButton {
    margin-top: auto;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: none;
    cursor: pointer;

    transition: all 0.2s;
    background-color: transparent;
    border: 1px solid $orangeLight;
    color: black;
    width: 120px;
    border-radius: 10px;

    &:hover {
      border: 1px solid $borderGray;
      background-color: $blue;
      color: white;
    }
  }

  &Button {
    margin-top: auto;
    grid-area: c;
    cursor: pointer;

    margin-left: auto;

    gap: 10px;

    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    border-radius: 10px;

    background-color: $white;
    color: $black;
    width: 74px;
    border: 1px solid rgba(133, 133, 133, 1);

    @include mobile320 {
      width: 120px;
      font-size: 12px;
    }

    transition: all 0.3s ease;

    &Added {
      border-color: $green;

      &:hover {
        background-color: unset !important;
        color: $black !important;
        border: 1px solid $green !important;

        img {
          display: block !important;
        }
      }
    }

    &:hover {
      border: 1px solid $borderGray;
      background-color: $blue;
      color: $white;

      img {
        display: none;
      }
    }
  }

  &Image {
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      max-width: 345px;
    }
  }

  &Title {
    font-size: 20px;
    color: black;
    text-decoration: none;
  }

  &ButtonTrash {
    padding: 0;
    margin: 0;
    background: white;
    border: none;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }
}

.container {
  @include container;
  flex-direction: column;
  align-items: center;

  @include desktop {
    gap: 20px;
    flex-direction: row-reverse !important;
    align-items: flex-start !important;
    margin-top: 80px;
  }
}

.result {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;

  @include desktop {
    width: 320px;
    margin-top: 0;
    flex-shrink: 0;
  }

  &Title {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  &Button {
    font-size: 14px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid $orangeDark;
    background-color: $white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;

    &:hover {
      background-color: $orangeDark;
      color: $white;
    }
  }
}

.empty {
  margin-top: 50px;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &Image {
    width: 100%;
    max-width: 400px;
    border-radius: 5%;
  }
}

.form {
  @include container;
  justify-content: center;

  > * {
    flex: 1;
    margin-top: 20px;

    > * > * {
      display: unset;
    }
  }
}
