@import "./normalize.scss";
// Шрифты
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

button {
  color: black;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ReactModalPortal {
  position: relative;
  z-index: 10;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footerWrapper {
  margin-top: auto;
  width: 100%;
}
