@mixin desktop($breakpoint: 1440px) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin tablet($breakpoint: 767px) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin mobile320($breakpoint: 359px) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin container() {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;

  @include desktop {
    padding: 0;
  }
}
