$orangeDark: rgba(255, 120, 45, 1);
$orangeLight: rgba(255, 136, 70, 1);
$gray: rgba(146, 146, 146, 1);
$white: rgba(239, 239, 239, 1);
$green: rgba(133, 184, 25, 1);
$red: rgba(255, 70, 70, 1);
$black: black;
$white: white;
