@import "src/styles/var";
@import "src/styles/mixins";

.product-item {
  max-width: 100%;
  margin-top: 39px;
  display: flex;
  justify-content: center;

  &__container {
    @include container;
  }

  &__content {
    width: 100%;

    @include desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 0 90px;
      grid-template-areas:
        "a b"
        "a c"
        "a d"
        "e e";
    }
  }

  &__title {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;

    @include desktop {
      margin-bottom: 60px;
      font-size: 32px;
      text-align: left;
      grid-area: b;
    }
  }

  &__image {
    margin-top: 31px;
    padding: 0 20px;
    border: 2px solid rgba($orangeDark, 0.2);
    border-radius: 10px;
    padding: 20px 10px;

    @include desktop {
      margin-top: 0;
      grid-area: a;

      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
    }

    img {
      max-width: 100%;
      border-radius: 10px;

      @include desktop {
        max-width: unset;
        width: 500px;
      }
    }
  }

  &__spec {
    margin-top: 20px;

    @include desktop {
      margin-top: 20px;
    }
  }

  .spec {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 10px;

    @include desktop {
      grid-area: d;
    }

    p {
      margin: 0;
      padding: 0;
    }

    &__title {
      font-size: 20px;
      font-weight: 500;

      @include desktop {
        font-size: 24px;
      }
    }

    &__items {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    .spec-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-bottom: 0.7px solid rgba(208, 208, 208, 1);
      padding-bottom: 6px;

      &__key {
        font-size: 12px;
        color: rgba(0, 0, 0, 1);
      }

      &__value {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }

  &__description {
    margin-top: 40px;

    @include desktop {
      margin-top: 90px;
      grid-area: e;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      margin: 0;
      padding: 0;
    }

    &__title {
      font-size: 20px;
      font-weight: 500;

      @include desktop {
        font-size: 24px;
      }
    }

    &__text {
      font-size: 12px;

      @include desktop {
        font-size: 16px;
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 10px;

    @include desktop {
      grid-area: c;
      margin-left: 0;
      margin-top: 0;
      width: 100%;
      min-height: 90px;
    }
  }
}
