@import "src/styles/var";
@import "src/styles/mixins";

.feedback-popup {
  .form {
    margin-top: 0;
    min-height: 100vh;
    background-image: unset;

    &__container {
      margin: 0;
    }

    &__content {
      box-shadow: unset;
      height: unset;
    }

    &__input {
      max-width: unset;
    }

    &__privacy {
      max-width: unset;
    }

    &__button {
      width: 55%;

      @include desktop {
        height: 57px;

        &:first-child {
          width: 224px;
        }

        &:last-child {
          width: 345px;
        }
      }
    }
  }
}
